
.main  {
margin:auto;
}

li{
    
    background-color: #CDF0F6;
    border: 1px solid #d4d4d4;
    border-radius: 4px ;
    list-style-type: none;
    border-radius: 6px;
    padding:10px;
    margin:4px;
    
    
    }




@media screen and (min-width:480px) {

    .menulist {

        margin:0px;
        float:left;
        width:240px;
       
    
    
    }
    
    
    
  
}

@media screen and (max-width:480px) {

    .menulist {

        margin:0px;
        float:none;
        width:auto;
       
    
    
    }
    
    
    
  

}

/*{

1) why is there a huge margin on the left
of the menu when the screen is fully expanded

2)how do you put .main in the middle    
of the menu so that h2 and p are
not right up against the page

3) check original css 


}*/