.container{

background-color: rgb(209, 222, 222);
height:1000px;

}

.menu{
    list-style-type: none;
    width:100%;
    background-color: blue;
    margin:0px;
    padding:0px;
    overflow:hidden;
}


li{
    float:left;
}

.active{

background-color: red;
}
li a{

display:inline-block;
text-decoration: none;
padding:10px 14px;
border-right:1px solid blue;
color:white;


}